#rhd-related-posts-container {
  width: 100%;
}
#rhd-related-posts-container #rhd-related-posts {
  width: 100%;
  list-style: none;
  padding-left: 0;
  text-align: justify;
  margin: 0;
}
#rhd-related-posts-container #rhd-related-posts:after {
  width: 100%;
  display: inline-block;
  content: '';
}
#rhd-related-posts-container #rhd-related-posts .related-post {
  width: 48%;
  display: inline-block;
  margin-bottom: 0.75em;
  vertical-align: top;
}
#rhd-related-posts-container .rhd-related-posts-title {
  font-size: 1.3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
#rhd-related-posts-container #rhd-related-posts .related-post .related-link img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#rhd-related-posts-container #rhd-related-posts .related-post .related-link .related-title {
  margin: 0.25em 0 0 0;
  text-align: center;
  line-height: 1.1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 40rem) {
  #rhd-related-posts-container #rhd-related-posts {
    width: 100%;
  }
  #rhd-related-posts-container #rhd-related-posts .related-post {
    width: 23%;
    margin-bottom: 0;
  }
  #rhd-related-posts-container #rhd-related-posts .related-post .rhd-related-posts-title {
    font-size: 1.3em;
  }
}
