/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-rhd-related-posts {
	margin: 2em 0;

	.rhd-related-posts-title {
		margin: 0;
	}

	.rhd-related-posts {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding-left: 0;
		flex-wrap: nowrap;
		width: 100%;

		@media (max-width: 600px) {
			flex-wrap: wrap;
		}

		.related-post {
			flex-grow: 1;
			flex-shrink: 1;

			@media (max-width: 600px) {
				margin: 0 auto;
				padding: 0.5em;
				width: 50% !important; // Override inline width.
			}

			@media (min-width: 600px) {
				.related-title {
					text-align: center;
					margin: 0.25em 0 0;
					line-height: 1.3;
					font-size: 0.9em;
				}
			}

			img {
				margin: 0 auto;
				max-width: 100%;
				height: auto;
				display: block;
			}

			.related-title {
				text-align: center;
				line-height: 1.3;
				font-size: 90%;
				margin: 0.5em 0;

				a {
					text-decoration: none;
				}
			}
		}
	}
}
